@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    color: #E0E0E0;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 1.5px;
}

/* Ajuster la taille des boîtes */
li {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 45%; /* Ajuster la taille des colonnes selon les besoins */
    margin: 10px;
    min-width: 500px;
    max-width: 30%; /* Limiter la largeur des colonnes */
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 25px rgba(0, 255, 255, 0.5);
}

li img {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

li:hover img {
    transform: rotate(10deg);
}

.winrate.high {
    color: #4CAF50;
}

.winrate.medium {
    color: #FF9800;
}

.winrate.low {
    color: #F44336;
}

.most-played-champ img {
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.most-played-champ:hover img {
    opacity: 0.8;
}

.loading {
    background-color: red;
    cursor: not-allowed;
}

.loading::before {
    content: 'Chargement...';
    color: white;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.match-result {
    transition: transform 0.3s ease;
}

li:hover .match-result {
    transform: rotate(10deg);
}