<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Classement SoloQ</title>
</head>
<body class="bg-gray-900 text-white" background="{{ url_for('static', filename='background.png')}}">
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold text-center mb-6">Classement Solo Queue Challenge</h1>
        <ul>
            {% for info in infos %}
            <li class="my-4 p-4 bg-gray-800 rounded-lg shadow-md transition-transform transform hover:scale-105 flex flex-col items-start">
                <!-- Rang et Image -->
                <div class="flex items-center w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5">
                    <span class="rank text-cyan-500 text-2xl font-semibold mr-2">{{ loop.index }}</span>
                    <img src="{{ info['image'] }}" alt="Profile Image" class="rounded-full w-16 h-16 mr-2">
                    <a class="player-name w-full mb-2" href="https://www.op.gg/summoners/euw/{{ info['pseudo'].replace('#', '-') }}" target="_blank">
                        <h5 class="player-name text-xl text-blue-400 font-semibold break-words whitespace-nowrap">{{ info['name'] }} ({{ info['pseudo'] }})</h5>
                    </a>
                </div>

                <!-- Informations sur le joueur -->
                <div class="w-full">
                    {% if info['tier']|lower != 'unranked' %}
                        <div class="flex items-center mb-2">
                            <img src="https://opgg-static.akamaized.net/images/medals_new/{{ info['tier']|lower }}.png" class="tier-icon" alt="{{ info['tier'] }} Icon" width="64" height="64">
                            <p>{{ info['tier'] }} {{ info['division'] }} - {{ info['lp'] }} LP
                        </div>
                        <p class="text-gray-400">Victoires : {{ info['win'] }} | Défaites : {{ info['lose'] }}</p>
                        <p>Taux de victoire : 
                            {% if info['winrate'] > 50 %}
                                <span class="winrate text-green-500">{{ info['winrate'] }}%</span>
                            {% elif info['winrate'] < 50 %}
                                <span class="winrate text-red-500">{{ info['winrate'] }}%</span>
                            {% else %}
                                <span class="winrate text-yellow-500">{{ info['winrate'] }}%</span>
                            {% endif %}
                        </p>
                    {% else %}
                        <span class="tier-placeholder mr-2" width="64" height="64"></span>
                        <p class="text-xl mb-12">Non classé</p><br>
                    {% endif %}

                    <!-- Champion le plus joué -->
                    <div class="mt-4 flex items-center">
                        <h6>Champion le plus joué : </h6>
                        {% if info['most_played_champ']['name'] %}
                            <img src="{{ info['most_played_champ']['image'] }}" class="w-8 h-8 rounded-full ml-2 mr-2">
                            <a href="https://www.op.gg/champions/{{ info['most_played_champ']['name'].lower() }}/build" target="_blank">{{ info['most_played_champ']['name'] }}</a>
                        {% else %}
                            <p class="ml-1 mr-2">Non défini</span>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
