<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classement des Invocateurs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Classement des Invocateurs</h1>
        <ul class="list-unstyled">
            {% for info in infos %}
                <li class="media my-4 p-3 bg-dark rounded shadow-sm">
                    <span class="rank">{{ loop.index }}</span>
                    <a href="https://www.op.gg/summoners/euw/{{ info['pseudo'].replace('#', '-') }}" target="_blank">
                        <img src="{{ info['image'] }}" class="mr-3 rounded-circle" alt="Profile Image" width="64" height="64">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">
                            <a href="https://www.op.gg/summoners/euw/{{ info['pseudo'].replace('#', '-') }}" target="_blank">
                                {{ info['name'] }} ({{ info['pseudo'] }})
                            </a>
                        </h5>
                        <p>
                            {% if info['tier']|lower != 'unranked' %}
                                <img src="https://opgg-static.akamaized.net/images/medals_new/{{ info['tier']|lower }}.png" class="tier-icon" alt="{{ info['tier'] }} Icon" width="64" height="64">
                            {% endif %}
                            {{ info['tier'] }} {{ info['division'] }} - {{ info['lp'] }} LP
                        </p>
                        <p>Parties jouées : {{ info['games_played'] }}</p>
                        <p class="win">Victoires : {{ info['win'] }}</p>
                        <p class="lose">Défaites : {{ info['lose'] }}</p>
                        <p>Taux de victoire : 
                            {% if info['winrate'] > 50 %}
                                <span class="winrate high">{{ info['winrate'] }}%</span>
                            {% elif info['winrate'] < 50 %}
                                <span class="winrate low">{{ info['winrate'] }}%</span>
                            {% else %}
                                <span class="winrate medium">{{ info['winrate'] }}%</span>
                            {% endif %}
                        </p>
                        <h6>Champion le plus joué :</h6>
                        <div class="most-played-champ">
                            <img src="{{ info['most_played_champ']['image'] }}" alt="{{ info['most_played_champ']['name'] }}" width="32" height="32">
                            <span>{{ info['most_played_champ']['name'] }}</span>
                            <span>Winrate: {{ info['most_played_champ']['winrate'] }}%</span>
                            <span>Parties jouées: {{ info['most_played_champ']['games_played'] }}</span>
                        </div>
                        <br>
                        <p class="small"><em>Dernière mise à jour : {{ info['updated_at'].strftime('%d/%m/%Y %H:%M:%S') }}</em></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>